.grid {
  display: grid;
  /* css 함수인 repeat을 사용하면 더 보기 좋게 코드를 짤 수 있다.*/
  grid-template-columns: auto 200px;
  grid-template-rows: 100px repeat(2, 200px) 100px;
  /*grid template은 이런식으로 지정 할 수 있다.
  하지만 class 이름으로 반응하는 것이 아니라
  grid-area라는 속성으로 각각 지정해주어야 한다. */
  grid-template-areas:
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer";
}
.header {
  background: #55efc4;
  grid-area: header;
}
.content {
  background: #74b9ff;
  grid-area: content;
}
.nav {
  background: #a29bfe;
  grid-area: nav;
}
.footer {
  background: #ff7675;
  grid-area: footer;
}
