.grid {
  display: grid;
  gap: 10px;
  /* css 함수인 repeat을 사용하면 더 보기 좋게 코드를 짤 수 있다.*/
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}
.header {
  background: #55efc4;
  /*column 번호에서 시작하는 것이 아니라
  line 번호에서 시작한다.*/
  grid-column-start: 1;
  grid-column-end: 5;
}
.content {
  background: #74b9ff;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
.nav {
  background: #a29bfe;
  grid-row-start: 2;
  grid-row-end: 4;
}
.footer {
  background: #ff7675;
  grid-column-start: 1;
  grid-column-end: 5;
}
